.row-line {
    margin-top: 3px;
    margin-bottom: 1;
}

.submit-button {
    width: 25%;
    margin-top: 10px;
    margin-left: 3px;
    margin-left: 3px;
    margin-bottom: 1;
    text-align: center;
}